<div class='header'>
  <h1>Daily Blues</h1>
</div>

<div class='container'>

  <div class='sidebar'>

    <button>See Weather</button>

  </div>

  <div class='presentation'>

    <h3>Steps</h3>
    <div id='jawbone'><img class="loading" src="assets/loading.gif" /></div>

    <h3>Weather</h3>
    <div id='weather'><img class="loading" src="assets/loading.gif" /></div>

    <p>Powered by Wunderweather</p>

  </div>

</div>

<script src='assets/chart.js'></script>
<script src='assets/healths.js'></script>